html {
    margin: 1em;
}

body {
    font: 16px sans-serif;
    line-height: 1.5em;
    margin: auto;
    max-width: 50rem;
}

h1 {
    font-size: x-large;
    text-align: center;
}
h1 + p {
    text-align: center;
}

h2 {
    font-size: large;
    border-bottom: thin solid;
}
h3 {
    font-size: large;
}

h4 {
    font-size: medium;
}

h5 {
    font-size: small;
}

h6 {
    font-size: x-small;
}

@media only screen and (max-width: 52rem) {
    body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 40rem) {
    body {
        font-size: 12px;
    }
}

blockquote {
    margin: inherit;
    border-radius: 0.5em;
    border-style: outset;
    margin-top: 1em;
    padding-left: 1em;
}

pre,
code {
    font-family: Monospace;
    background-color: rgb(240, 240, 250);
}

pre {
    padding: 1em;
    border-radius: 0.5em;
    overflow-x: auto;
}

table {
    text-align: left;
    max-height: 30em;
    display: block;
    overflow: auto;
    font-size: smaller;
}

table thead {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 1px 0;
}

tbody th {
    position: sticky;
    left: 0;
    background-color: white;
    box-shadow: 1px 0 0;
}

table td,
table th {
    padding: 5px;
}

tbody tr:nth-child(even) {
    background-color: rgb(230, 230, 220);
}
